@media only screen and (max-width: 700px) {
    .past_clients article{
        flex-direction: column;
    }
    .past_clients article a{
        margin-bottom: 25px;
    }
    .past_clients p{
        margin-bottom: 100px;
    }
    .fuji{
        height: 50vh;}
    .monstera{
        height: 50vh;
    }
    .nepal{
        height: 50vh;
    }
    .need_help{
        padding-bottom: 50px;
    }
    .monstera li{
        display: flex;
    }
    .main_banner li{
        display: flex;
    }
    .need_help h2{
        margin-bottom: 70px;
    }
    .need_help h3{
        margin-bottom: 80px;
    }

}

@media only screen and (max-width: 670px) {
    header nav ul{
        display: block;
        margin-right: 10px;

    }
    .logo{
        margin-left: 30px;
    }
    header nav ul a{
        margin-bottom: 5px;

    }

}
@media only screen and (max-width: 420px) {
.main_banner h1{
    font-size: 28px;
}
}

@media only screen and (max-width: 333px) {
    .components li:before{
        margin-right: 5px;
    }
    .past_clients p{
        margin-bottom: 40px;
    }
}
@media only screen and (max-width: 767px) {
    .nav-but-wrap{
        display: inline-block;
    }
    .nav{
        position: fixed;
    }
    .nav__content {
        position: fixed;
        visibility: hidden;
        -webkit-transform: translate(0%, -50%);
        transform: translate(0%, -50%);
    }
    .nav__list-item{
        opacity: 0;
    }
.nav__list{
    display: block;
}
}
